.App {
  text-align: center;
}

#display {
  height: 600px;
  border-style: inset;
  background-color: azure;
  overflow-y: scroll;
}

#highlight-holder {
  overflow-x: scroll;
  overflow-x: hidden;
  height: 400px
}

.highlight {
  border-style: solid;
}

#footer {
  height: 50px
}

#user-text {
  white-space: pre-wrap;
}