.App {
  text-align: center;
}

#display {
  height: 300px;
  border-style: inset;
  background-color: azure;
  overflow-y: scroll;
}

#highlight-holder {
  height: 260px;
}

.highlight {
  height: 260px;
  width: 800px
}